<div class="fulltotal">
  <div class="total">
    <div id="livechannel">
      <button id="icon">
        <mat-icon>settings</mat-icon>
      </button>
      <p style="font-size: 40px;color: #FFFFFF;margin-left: 7%;margin-top: -2%;">Kênh trực tiếp</p>
    </div>
    <div id="allbutton">
      <button id="button" (click)="navigate('/')">Tất cả</button>
      <button id="button"  *ngFor="let item of this.stream.categoryList" (click)="navigate(item.idDoc)">{{item.categoryName}}</button>
    </div>
  </div>

  <div id="fullalltype">
    <div id="alltype" *ngFor="let stream of this.stream.streamList">
      <div class="type1" (click)="navigateToStream(stream.idDoc)">
        <img src="../../../assets/images/type1.jpg" [routerLink]="['/tranglivestream']">
        <div id="stream1">
          <img style="width: 100%;border-radius: 100%;"
            src="https://img.nimo.tv/t/201907111562875240667_1629511896446_avatar.png/w120_l0/img.png">
        </div>
        <p style="margin-left: 33%;font-size: 20px;margin-top: -26%;color: #FFFFFF;white-space: nowrap;
                overflow: hidden;text-overflow: ellipsis;">{{stream.Name}}
        </p>
        <p style="margin-left: 33%;font-size: 20px;margin-top: 4%;color: #FFFFFF;white-space: nowrap;
                overflow: hidden;text-overflow: ellipsis;">{{stream.Description}}
        </p>

        <div id="viewer">
          <img style="width: 8%;
                    height: 20%;;margin-left: 72%;margin-top: 2%;" src="../../../assets/images/uesr-goup.png">
          <h2>4.137</h2>
        </div>
      </div>
    </div>

  </div>
</div>
